:root {
    --orange: rgb(226, 112, 19);
    --yellow: rgb(221, 191, 58);
    --black: rgb(0, 0, 0);
    --gray: rgb(44, 41, 41);
    --offwhite: rgb(226, 213, 194);
    --lightbrown: rgb(165, 132, 94);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    background-color: var(--orange);
    display: flex;
    height: 3rem;
    justify-content: space-around;
}

body {
    background-color: var(--yellow);
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    line-height: 1.3;
}

h3 {
    font-size: 40px;
    text-align: center;
    font-family: 'Gentium Book Basic', serif;
}

label {
    font-size: 20px;
    text-align: center;
    font-family: 'Gentium Book Basic', serif;
}

#navbar{
    font-size: 30px;
    color: var(--black);
    font-weight: bold;
    text-decoration: none;
}

#navbar:hover{
    color: var(--gray);
}

#maintitle {
    font-size: 100px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}


/* Main page - index.html */
#mealimg {
    width: 100%;
}

#explain {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 110%;
    text-align: center;
    word-spacing: 5px;
    font-family: 'Gentium Book Basic', serif;
}

/* Recipe search page - recipe_page.html */
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-height: 30rem;
}

/* .searchfood{
    flex: 0 0 400px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    background-color: var(--offwhite);
}

.searchdrinks{
    flex: 0 0 400px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    background-color: var(--offwhite);
}

.saved{
    flex: 0 0 400px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    background-color: var(--offwhite);
}

.results {
    flex: 0 0 400px;
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    background-color: var(--lightbrown);
}

.savedlist {
    flex: 0 0 400px;
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    background-color: var(--lightbrown);
} */


@media screen and (max-width: 992px) {
    main,
    nav {
      flex-direction: column;
    }
    nav {
        height: 11rem;
        justify-content: center;
    }
  }
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
}